{% extends 'base.html' %}


{% block content%}
<div class="flex items-center justify-center my-20">

    <div class="bg-white p-8 rounded-xl">

        <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Iniciar Sesion</h2>

        <form action="{{ url_for('auth.login_auth') }}" method="POST" class="space-y-4">

            <div>

                <label class="text-sm font-medium text-gray-700" name="numero_telefono">Numero Telefono</label>

                <input type="text" name="numero_telefono" id="" class="w-full mt-1 p-2 border rounded-md focus:ring-blue-500" >

            </div>

            <div>

                <label class="text-sm font-medium text-gray-700" name="contraseña">Contraseña</label>

                <input type="password" class="w-full mt-1 p-2 border rounded-md" name="contraseña">

            </div>

            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-md font-semibold hover:bg-blue-700 transition" >Iniciar</button>

        </form>

        <p class="mt-4 text-center text-sm text-gray-500">¿No tienes cuenta? <a href="{{url_for('auth.registro_usuario')}}" class="text-blue-600 hover:underline">Regístrate</a> </p>

    </div>

</div>

{% endblock%}