
{% extends 'base.html'%}

{% block content %}

<div class="flex items-center justify-center my-20">

    <div class=" flex flex-col bg-white p-8 rounded-xl">

        <h2 class="font-bold text-2xl text-center">Registro</h2>

        <form action="{{ url_for('auth.registro_usuario') }}" class="space-y-4" method="POST">

            <div class="pb-2">
                <label for="" class="text-sm font-medium text-gray-700" >Nombre</label>
                <input type="text" class="w-full mt-1 p-2 border rounded-md" name="nombre_usuario">
            </div>

            <div>
                <label for="" class="text-sm font-medium text-gray-700">Numero de Telefono</label>
                <input type="text" class="w-full mt-1 p-2 border rounded-md" name="numero_telefono">
            </div>

            <div>
                <label for="" class="text-sm font-medium text-gray-700">Contraseña</label>
                <input type="password" class="w-full mt-1 p-2 border rounded-md" name="contraseña_usuario" >
            </div>

            <div>
                <Button class="bg-blue-600 rounded-md font-semibold text-white p-2 w-full hover:bg-blue-700" type="submit">Registrarse</Button>
            </div>
            
        </form>

    </div>

</div>

{% endblock %}    