<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lachiguiaj</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
</head>

<body class="grid grid-rows-[auto_1fr_auto] min-height-screen min-h-screen bg-gray-100">
    
    <header>
        {% include 'header.html' %}
    </header>

    <main class="container">

        {% block content %} {% endblock %}

    </main>

    <footer class="bg-gray-800 text-white p-6 text-center">
        © 2026 Desarrollado por AppleTree Code
    </footer>
</body>

</html>