<div class="bg-white text-dark py-4 px-16">

    <div class="container mx-auto flex justify-between items-center">

        <div class="flex flex-row space-x-1.5">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 640 512"><path fill="#0284c7" d="M64 104v88h96V96H72c-4.4 0-8 3.6-8 8m482 88l-80.9-96H384v96zm-226 0V96h-96v96zm272 192h-16c0 53-43 96-96 96s-96-43-96-96H256c0 53-43 96-96 96s-96-43-96-96H48c-26.5 0-48-21.5-48-48V104c0-39.8 32.2-72 72-72h393.1c18.9 0 36.8 8.3 49 22.8L625 186.5c9.7 11.5 15 26.1 15 41.2V336c0 26.5-21.5 48-48 48m-64 0a48 48 0 1 0-96 0a48 48 0 1 0 96 0m-368 48a48 48 0 1 0 0-96a48 48 0 1 0 0 96"/></svg>
            
            <h1 class="font-bold text-xl">Urbans Lachigiaj</h1>

        </div>
        

        <nav class="space-x-4 font-semibold flex flex-row">

            <a href="{{url_for('admi.index')}}">Inicio</a>
            <a href="{{url_for('viaje.mostrar_viaje')}}">Rutas</a>
            
            {% if session.username %}
                <p>{{ session.username }}</p>
                <a href="{{url_for('auth.cerrar_sesion')}}">Cerrar Sesion</a>
            {% else %}
                <a href="{{url_for('auth.login_auth')}}" class="bg-blue-600 py-2 px-3 text-white rounded-md hover:bg-blue-700">Iniciar Sesion</a>
            {% endif %}
        </nav>

    </div>

</div>