<div class="bg-white text-dark py-4 px-16">

    <div class="container mx-auto flex justify-between items-center">

        <h1 class="font-bold text-xl">Urbans Lachigiaj</h1>

        <nav class="space-x-4 font-semibold">
            <a href="{{url_for('admi.index')}}">Inicio</a>
            <a href="{{url_for('viaje.mostrar_viaje')}}">Rutas</a>
            <a href="{{url_for('auth.login_auth')}}" class="bg-blue-500 py-2 px-3 text-white rounded-md hover:bg-blue-600">Iniciar Sesion</a>
        </nav>

    </div>

</div>